$text-color:#282828;
$text-color1:#484848;
$text-color2:#888888;
$bg:#faf7ef;
$blueColor:#4978d6;
$yellow:#fa6400;
$white:#fff;
$green:#96bf47;
$tagBgColor: #fc0;
$lightGrayBg:#f2f4f8;

/* theme color  */
$--primary: $green;
$--color-success: $green;
$--color-warning: #ffba00;
$--color-danger: #ff4949;
$--color-font: #888888;
